html, body, ul, h1, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: #f0efef;
}

.wrapper {
	font: 14px 'Roboto Regular', Arial, sans-serif;
    width: 1150px;
    margin: 0 auto;
}

.header{
	margin: 0 0 50px 0;
}

.menu {
    border-bottom: 3px solid #355baa;
    padding: 64px 0 23px
}

.menu__item {
    display: inline-block;
}

.menu__link {
	display: inline-block;
    color: #4e6fb3;
}

._grey {
    color: #999;
}

.left-content {
	float: left;
	width: 50%;
}

.right-content {
	float: right;
	width: 50%;
}


.book-preview {
	display: inline-block;
	vertical-align: top;
	margin: 0 70px 40px 0;
}

.book-preview__img_big {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
    margin-bottom: 0 0 15px 0;
	size: 501px;
	transition: .5s;
}

.book-preview__img_big:hover {
	opacity: .5;
	
}

.book-preview__img_small {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	margin:13px 13px 0 0;
    size: 113px 113px;
	transition: .5s;
}

.book-preview__img_small:hover {
	opacity: .5;
}

.book-preview__img_small:last-child {
	margin: 0;
}

.description {
    font: 16px  'Roboto Regular', Arial, sans-serif;
    width: 565px;
    display: inline-block;
    vertical-align: top;
	margin: 0 0 50px 0;
}

.description__content {
    margin: 0 0 50px 0;
}

.description__content p:first-child {
    margin: 0 0 40px 0;
}

.description__content__list {
    margin: 0 0 40px 0;
}
.description__list {
	list-style-type: none;
}

.description__item-title {
	margin: 0 0 25px 0;
}

.description__author {
	margin: 0 0 25px 0;
}

.description__rating {
	margin: 0 0 35px 0;
}

.description__author ._font-style {
    font-size: 22px;
    font-weight: bold; 
    color: #355baa;
}

.description__rating ._font-style {
    font-weight: bold;
    font-size: 20px;
    margin: 0 30px 0 0;
}

.description__rating__star-rating {
    display: inline-block;
    margin: 0 15px 0 0;
}
.star-rating__item {
    background: inline('star.svg') no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.star-rating__item:hover {
    background: inline('star_active.svg') no-repeat;
}

.description__theme__link {
    color: #355baa;
}

.description__theme:before {
    display: block;
    content: '';
    width: 33px;
    height: 3px;
    background: #355baa;
    margin: 0 0 20px 0;
}

.character {
    display: inline-block;
	margin: 0 70px 76px 0;
	size: 520px *;
}

.character__list{
	display: inline-block;
    list-style: none;
    padding: 0;
}

.character__item{
    font: 14px  'Roboto Regular', Arial, sans-serif;
    color: #959595;
    line-height: 1.714;
} 

.character__text {
	color: #232323;
	margin-bottom: 60px;
}

._border{
	display: inline;
	border-bottom: 1px #355baa dotted;
	color: #355baa;
}

.character__link._{
	color: #355baa;
}

.character__link._border:hover{
	border-bottom: 0;
	transition: border-bottom .3s linear;
}

.character-button{
	display: inline-block;
	position: relative;
	margin: 0 45px 60px 0;

}
.character-button__link{
	display: inline-block;
	border: 3px solid #d69200;
	font: 14px 'Roboto Bold', Arial, sans-serif;
	color: #fff;
	padding: 15px 75px 13px 30px;
	background: #ffae00;
	margin: 0 45 0 0px;
	position: relative;
}

.character-button__line{
	display: block;
	position: absolute;
	width: 1px;
	background: #d69200;
	height: 50px;
    top: -3px;
    right: 50px;
}

.character-button__link:hover .character-button__line{
	background: #ffae00;
	transition: background .3s linear;
}

.character-button__link:hover {
	background: #d69200;
	transition: background .3s linear;
}
	
.character-button__arrow {
	background: inline('arrow.png') no-repeat;
	position: absolute;
    right: 11px;
    bottom: 10px;
    width: 20px;
    height: 20px
}

.character-icons {
	display: inline-block;
	
}

.character-icons__text {
	font: 14px 'Roboto Regular', Arial, sans-serif;
	color: #a1a1a1;
	margin: 0 10px 0 0;
}

.character-icons__list {
	list-style: none;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	margin: 0;
}

.character-icons__item {
	display: inline-block;
	margin: 0 2px 0 0;
}

.character-icons__link ._fb {
	height: 40px;
    width: 40px;
    background: inline('fb.svg') no-repeat;
    background-size: 40px;
}

.character-icons__link ._fb:hover {
	background: inline('fb.svg') no-repeat;
    background-size: 40px 40px;
}

._fb:hover {
	background: inline('facebook.svg') no-repeat;
	background-size: 40px 40px;
	transition: background .3s linear;
}

.character-icons__link ._vk {
	height: 40px;
    width: 40px;
    background: inline('vk.svg') no-repeat;
    background-size: 40px 40px;
}


.character-icons__link ._vk:hover {
    background: inline('vkontakte.svg') no-repeat;
    background-size: 40px 40px;
    transition: background .3s linear; 
}

.character-icons__link ._in {
	height: 40px;
    width: 40px;
    background: inline('in.svg') no-repeat;
    background-size: 40px 40px;
}


.character-icons__link ._in:hover {
    background: inline('instagram.svg') no-repeat;
    background-size: 40px 40px;
    transition: background .3s linear; 
}

.character-icons__link ._ok {
	height: 40px;
    width: 40px;
    background: inline('ok.svg') no-repeat;
    background-size: 40px 40px;
}


.character-icons__link ._ok:hover {
    background: inline('ok_active.svg') no-repeat;
    background-size: 40px 40px;
    transition: background .3s linear; 
}

.recommendation {
	display: inline-block;
	margin : 0 60px 0px 0;
	size: 520px *;
}

.recommendation__item-title {
	font: 20px 'Roboto Bold', Arial, sans-serif;
	margin: 0 0 36px;
}

.recommendation__list {
	display: inline-block;
	font-size: 0;
	list-style: none;
}

.recommendation__list-item {
	display: inline-block;
	vertical-align: top;
}

.recommendation__item-photo {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	margin: 0 18px 18px 0;
	size: 237px;
	transition: .5s;
}

.recommendation__item-photo:hover {
	opacity: .5;
}


.recommendation__item-text {
	font: 16px 'Roboto Bold', Arial, sans-serif;
	margin: 0 0 9px;

}

.recommendation__item-autor {
	font: 16px 'Roboto Regular', Arial, sans-serif;
	margin: 0 0 20px;
}

.recommendation__link-autor:hover,
.recommendation__item-text:hover {
	text-decoration: underline;
}

.recommendation ._grey {
	color: #959595;
}

.comments {
	display: inline-block;
	vertical-align: top;
	width: 520px;
}

.comments__item-title {
	font: 18px 'Roboto Slab', Arial, sans-serif;
	font-weight: bold;
	margin: 0 0 29px;
}

.comments__feed-button {
	position: relative;
	margin: 0 0 27px 0;
	height: 51px;
}

.comments__feed-button:before {
	display: block;
	position: absolute;
	content: '';
  	background: #355baa;
  	top: 50%;
  	transform: translateY(-50%);
	width: 100%;
	height: 3px;
}

.comments__item-button {
	display: block;
	background: #f0efef;
	border: 3px solid #355baa;
	color: #355baa;
	font: 18px 'Roboto Bold', Arial, sans-serif;
	position: absolute;
	right: 0;
	size: 168px 52px;
}

.comments__item-button:before {
	background: #f0efef;
	bottom: 0;
	content: ' ';
	display: block;
	position: absolute;
	left: -3px;
  	top: 0;
	width: 13px;
  	transform: translateX(-100%);	
}

.comments__item-button:hover {
	background: #355baa;
	color: #fff;
}

.comments__item-textarea {
	margin: 0 0 18px 0;
}

.comments__item-textarea-space {
	font: 16px 'Roboto Regular', Arial, sans-serif;
	padding: 11px 10px;
	size: 498px 109px;
	resize: none;
}

.comments__add {
	display: inline-block;
	margin-right: 51px;
}

.comments__add-link {
	font: 16px 'Roboto Regular', Arial, sans-serif;
	text-decoration: none;
}

.comments__add-description {
	color: #a3a3a3;
	font: 13px 'Roboto Regular', Arial, sans-serif;
}

.comments__submit {
	display: inline-block;
	vertical-align: top;
}

.comments__submit-send-button {
	background: #bdcbe8;
	border: 1px solid #bdcbe8;
	color: #355baa;
	display: inline-block;
	font: 14px 'Roboto Regular', Arial, sans-serif;
	padding: 10px 13px;
}
.comments__submit-send-button:hover {
	background: #355baa;
	color: #fff;
}