* {
    margin: 0 auto;
    padding: 0;
    
}

a {
    text-decoration: none;
}
body {
    background-color: #f0efef;
    width: 1150px;
    
}

.header {
     
    border-bottom: 3px solid #355baa;
    padding-top: 60px;
    padding-bottom: 30px;
}