* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #4e6fb3;
}
body {
    background: #f0efef;
}
.wrapper {
    width: 1150px;
    margin: 0 auto;
}
.header {
    width: 100%;
    border-bottom: 3px solid #355baa;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0;
}
.header a {
	display: inline-block;
}
.greycolour {
    color: #999;
}