@font-face {
	font-family: Roboto Bold;
	src: url(../assets/font/roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: Roboto Regular;
	src: url(../assets/font/roboto/Roboto-Regular.ttf);
}


html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #f0efef;
}

.wrapper {
    width: 1150px;
    margin: 0 auto;
}

.header{
	margin-bottom: 50px;
}
.menu {
    border-bottom: 3px solid #355baa;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: inline-block;
}

.menu__link {
	display: inline-block;
    margin: 62px 0 23px;
    color: #4e6fb3;
}

._grey {
    color: #999;
}

.book-preview {
	display: inline-block;
	margin: 0 70px 40px 0;
}
.book-preview__img_big {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	margin: 0 0 15px 0;
	height: 500px;
	width: 499px;
}

.book-preview__img_small {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	margin-right: 13px;
	height: 112px;
	width: 112px;
}

.description {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    
}

.character{
    display: inline-block;

}

.character__list{
    list-style: none;
    padding: 0;
}

.character__item{
    font: 14px  'Roboto Regular', Arial, sans-serif;
    color: #959595;
    line-height: 1.714;
} 

.character__text{
	color: #232323;
	margin-bottom: 60px;
}
._border{
	display: inline;
	border-bottom: 1px #355baa dotted;
	color: #355baa;
}

.character__link._{
	color: #355baa;
}

.character__link._border:hover{
	text-decoration: none;
	border-bottom: 0;
}
/*Кнопка скачать*/

.character-button{
	display: inline-block;
	position: relative;

}
.character-button__link{
	display: inline-block;
	border: 3px solid #d69200;
	font: 14px 'Roboto Bold', Arial, sans-serif;
	color: #fff;
	padding: 15px 75px 13px 30px;
	background-color: #ffae00;
	margin-right: 45px;
	position: relative;
}

.character-button__link:after{
	content: "";
	position: absolute;
	display: block;
	width: 1px;
	color: red;
	height: 46px;
    top: 0;
    right: 50px;
}
.character-button__link:hover{
	background-color: #d69200;
	transition: background-color .3s linear;
}
	
.character-button__arrow{
	background: url(../assets/img/arrow.png) no-repeat;
	position: absolute;
    right: 11px;
    bottom: 10px;
    width: 20px;
    height: 20px
}
/*Социальные иконки*/
.character-icons{
	display: inline-block;
}

.character-icons__text{
	font: 14px 'Roboto Regular', Arial, sans-serif;
	color: #959595;
	margin-right: 10px;
}

.character-icons__list{
	list-style: none;
	display: inline-block;
}